@using Covenant.Models.Covenant
@{
    IEnumerable<CapturedPasswordCredential> PasswordCredentials = ViewBag.PasswordCredentials;
    IEnumerable<CapturedHashCredential> HashCredentials = ViewBag.HashCredentials;
    IEnumerable<CapturedTicketCredential> TicketCredentials = ViewBag.TicketCredentials;

    await Html.RenderPartialAsync("_PasswordCredentialTable.cshtml", PasswordCredentials);
    await Html.RenderPartialAsync("_HashCredentialTable.cshtml", HashCredentials);
    await Html.RenderPartialAsync("_TicketCredentialTable.cshtml", TicketCredentials);
    <a asp-controller="Credential" asp-action="Create" class="btn btn-primary">
        <span data-feather="plus"></span> Create
    </a>
}