@using Covenant.Models.Covenant
@model IEnumerable<CapturedCredential>
@{
    Layout = "_CredentialLayout";
    ViewData["Title"] = "Credentials";
    IEnumerable<CapturedPasswordCredential> PasswordCredentials = ViewBag.PasswordCredentials;
    IEnumerable<CapturedHashCredential> HashCredentials = ViewBag.HashCredentials;
    IEnumerable<CapturedTicketCredential> TicketCredentials = ViewBag.TicketCredentials;
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-4">
    <h1 class="h2">Credentials</h1>
</div>

@{
    await Html.RenderPartialAsync("_CredentialTables");
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#password-table').DataTable({
                "info" : false,
                "pageLength": 50,
                "sDom": 'Rfrtilp'
            });
            $('#hash-table').DataTable({
                "info" : false,
                "pageLength": 50,
                "sDom": 'Rfrtilp'
            });
            $('#ticket-table').DataTable({
                "info" : false,
                "pageLength": 50,
                "sDom": 'Rfrtilp'
            });
        } );
    </script>
}