@using Covenant.Models.Indicators
@{
    IEnumerable<TargetIndicator> TargetIndicators = ViewBag.TargetIndicators;
    IEnumerable<NetworkIndicator> NetworkIndicators = ViewBag.NetworkIndicators;
    IEnumerable<FileIndicator> FileIndicators = ViewBag.FileIndicators;

    await Html.RenderPartialAsync("_TargetIndicatorTable.cshtml", TargetIndicators);
    await Html.RenderPartialAsync("_NetworkIndicatorTable.cshtml", NetworkIndicators);
    await Html.RenderPartialAsync("_FileIndicatorTable.cshtml", FileIndicators);
    <a asp-controller="Indicator" asp-action="Create" class="btn btn-primary">
        <span data-feather="plus"></span> Create
    </a>
}