@using Covenant.Models.Indicators
@model IEnumerable<TargetIndicator>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
    <h4 class="h5">Target Indicators</h4>
</div>

<div class="table-responsive">
    <table id="target-table" class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ComputerName)</th>
                <th>@Html.DisplayNameFor(model => model.UserName)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ComputerName)</td>
                    <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                </tr>
            }
        </tbody>
    </table>
</div>