@using Covenant.Models.Indicators
@model IEnumerable<Indicator>
@{
    Layout = "_IndicatorLayout";
    ViewData["Title"] = "Indicators";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-4">
    <h1 class="h2">Indicators</h1>
</div>

@{
    await Html.RenderPartialAsync("_IndicatorTables");
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#target-table').DataTable({
                "info" : false,
                "pageLength": 50,
                "sDom": 'Rfrtilp'
            });
            $('#network-table').DataTable({
                "info" : false,
                "pageLength": 50,
                "sDom": 'Rfrtilp'
            });
            $('#file-table').DataTable({
                "info" : false,
                "pageLength": 50,
                "sDom": 'Rfrtilp'
            });
        });
    </script>
}