<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets async="true">
    <target xsi:type="File" name="fileTarget" filename="..\..\..\Data\Logs\covenant.log"></target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="fileTarget" />
  </rules>
</nlog>