<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <variable name="appName" value="Covenant" />
  
  <targets async="true">
    <target xsi:type="File"
            name="default"
            layout="${level:uppercase=true}|${longdate}|${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="../../../Data/Logs/covenant.log"
            keepFileOpen="false"
            archiveFileName="../../../Data/Logs/covenant_${shortdate}.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30"
            />
    
    <target xsi:type="EventLog"
            name="eventlog"
            source="${appName}"
            layout="${message}${newline}${exception:format=ToString}"/>
  </targets>
  <rules>
    <logger name="*" writeTo="default" minlevel="Trace" />
    <logger name="*" writeTo="eventlog" minlevel="Error" />
  </rules>
</nlog>
