[submodule "Covenant/Data/Tasks/src/Rubeus"]
	path = Covenant/Data/Tasks/src/Rubeus
	url = http://github.com/GhostPack/Rubeus.git
[submodule "Covenant/Data/Tasks/src/SharpSploit"]
	path = Covenant/Data/Tasks/src/SharpSploit
	url = https://github.com/cobbr/SharpSploit
[submodule "Covenant/Data/Tasks/src/SharpDPAPI"]
	path = Covenant/Data/Tasks/src/SharpDPAPI
	url = https://github.com/GhostPack/SharpDPAPI
[submodule "Covenant/Data/Tasks/src/SharpUp"]
	path = Covenant/Data/Tasks/src/SharpUp
	url = https://github.com/GhostPack/SharpUp
[submodule "Covenant/Data/Tasks/src/Seatbelt"]
	path = Covenant/Data/Tasks/src/Seatbelt
	url = https://github.com/GhostPack/Seatbelt
[submodule "Covenant/Data/Tasks/src/SharpDump"]
	path = Covenant/Data/Tasks/src/SharpDump
	url = https://github.com/GhostPack/SharpDump
[submodule "Covenant/Data/Tasks/src/SharpWMI"]
	path = Covenant/Data/Tasks/src/SharpWMI
	url = https://github.com/GhostPack/SharpWMI
