<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/favicon.ico">
    <title>@ViewData["Title"] - Covenant</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/bootstrap-datetimepicker.min.css" />
        <link rel="stylesheet" href="~/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/dashboard.css" />
        <link rel="stylesheet" href="~/css/covenant.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/dashboard.css" />
        <link rel="stylesheet" href="~/css/covenant.css" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Covenant</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search" />
        @await Html.PartialAsync("_LoginPartial")
    </nav>
    
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a id="nav-dashboard" class="nav-link active" href="/">
                                <span data-feather="home"></span>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="nav-grunts" class="nav-link" href="/grunt">
                                <span data-feather="terminal"></span>
                                Grunts
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="nav-listeners" class="nav-link" href="/listener">
                                <span data-feather="headphones"></span>
                                Listeners
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="nav-launchers" class="nav-link" href="/launcher">
                                <span data-feather="zap"></span>
                                Launchers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="nav-credentials" class="nav-link" href="/credential">
                                <span data-feather="key"></span>
                                Credentials
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="nav-indicators" class="nav-link" href="/indicator">
                                <span data-feather="activity"></span>
                                Indicators
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="nav-users" class="nav-link" href="/covenantuser">
                                <span data-feather="users"></span>
                                Users
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                @RenderBody()
            </main>
        </div>
        <footer>
            <p>&copy; 2019 - Covenant</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/popper.min.js"></script>
        <script src="~/js/moment.min.js"></script>
        <script src="~/js/feather.min.js"></script>
        <script>feather.replace();</script>
        <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                asp-fallback-src="~/js/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                asp-fallback-src="~/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.JQuery.fn.modal"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"
                type="text/javascript"></script>
        <script src="~/js/feather.min.js"></script>
        <script>feather.replace();</script>
        <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>