@using Covenant.Models.Grunts
@model IEnumerable<Grunt>
@{
    Layout = "_GruntLayout";
    ViewData["Title"] = "Grunts";
}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
    <h1 class="h2">Grunts</h1>
</div>

@{
    await Html.RenderPartialAsync("_GruntTable", Model);
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#grunt-table').DataTable({
                "pageLength": 50
            });
        } );
    </script>
}