@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Login</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Index" method="post">
            <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                <ul>
                    <li style="display:none"></li>
                </ul>
            </div>
            <div class="form-group">
                <label for="set-username">Username</label>
                <input class="form-control" data-val="true" data-val-required="Username is required." id="set-username" name="UserName" value="" />
                <span class="text-danger field-validation-valid" data-valmsg-for="set-username" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label for="set-password">Password</label>
                <input class="form-control" type="password" data-val="true" data-val-required="Password is required." id="set-password" name="Password" />
                <span class="text-danger field-validation-valid" data-valmsg-for="set-password" data-valmsg-replace="true"></span>
            </div>
            @*
        <div class="form-group">
            <div class="checkbox">
                <label for="set-remember-me">
                    <input type="checkbox" data-val="true" id="set-remember-me" name="RememberMe" value="true" />
                    Remember me?
                </label>
            </div>
        </div>
            *@
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
            @*
        <div class="form-group">
            <p>
                <a asp-action="register">Register as a new user</a>
            </p>
        </div>
            *@
        </form>
    </div>
</div>
