@page "/referenceassembly/create"
@attribute [Authorize(Roles = "User, Administrator")]
@inherits OwningComponentBase<ICovenantService>

@using Covenant.Core
@using Covenant.Models.Grunts
@inject NavigationManager NavigationManager

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap pb-2 mb-3">
    <h1 class="h2">Create ReferenceAssembly</h1>
</div>

<ReferenceAssemblyForm ReferenceAssembly="ReferenceAssembly" OnSubmit="OnCreate" SubmitIcon="plus" SubmitLabel="Create" />

@code {
    [Parameter]
    public ReferenceAssembly ReferenceAssembly { get; set; }

    protected override void OnInitialized()
    {
        this.ReferenceAssembly = this.ReferenceAssembly ?? new ReferenceAssembly();
    }

    public async Task OnCreate(ReferenceAssembly assembly)
    {
        try
        {
            await Service.CreateReferenceAssembly(assembly);
            NavigationManager.NavigateTo("/grunttask");
        }
        catch (Exception e) when (e is ControllerNotFoundException || e is ControllerBadRequestException || e is ControllerUnauthorizedException)
        {
            // return View(new ReferenceAssembly());
        }
    }
}
