@using Covenant.Models.Covenant
@model CovenantUserRegister
@{
    Layout = "_CovenantUserLayout";
    ViewData["Title"] = "CovenantUsers";
}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
    <h1 class="h2">Create User</h1>
</div>

<form asp-action="Create">
    <div asp-validation-summary="All"></div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <input asp-for="UserName" placeholder="Username" class="form-control">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <input asp-for="Password" type="password" placeholder="Password" class="form-control">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" class="form-control">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <button type="submit" class="btn btn-primary"><span data-feather="plus"></span> Create</button>
        </div>
    </div>
</form>