@using Covenant.Models.Grunts
@model EmbeddedResource
@{
    Layout = "../GruntTask/_GruntTaskLayout";
    ViewData["Title"] = "GruntTasks";
}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap pb-2 mb-3">
    <h1 class="h2">EmbeddedResource: <span id="task-name" class="text-primary">@Html.DisplayFor(model => model.Name)</span></h1>
</div>

<form asp-action="Edit">
    <div asp-validation-summary="All"></div>
    <input asp-for="Id" value="@Model.Id" type="hidden">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="Name"></label>
            <input asp-for="Name" value="@Model.Name" class="form-control">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label asp-for="Location"></label>
            <input asp-for="Location" value="@Model.Location" class="form-control">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
</form>

@section Scripts {

}