@using Covenant.Models.Launchers
@model PowerShellLauncher

<div class="border-top mt-4">
    <div class="form-group mt-2">
        <label for="encoded-launcher">EncodedLauncher</label>
        <div class="input-group">
            <input id="encoded-launcher" class="form-control" value="@Html.DisplayFor(model => model.EncodedLauncherString)" />
            <div class="input-group-append">
                <button type="button" class="btn btn-outline-primary" data-clipboard-target="#encoded-launcher">
                    <span data-feather="clipboard"></span>
                </button>
            </div>
        </div>
    </div>
</div>