@using Covenant.Models.Launchers
@model Launcher
@{
    string action = "Host" + Model.Name;
    string content = ViewBag.HostContent;
}

<form asp-action="@action">
    <div asp-validation-summary="All"></div>
    <div class="mt-4">
        <input asp-for="@Model.ListenerId" value="@Model.ListenerId" type="hidden">
        <input name="Content" value="@content" type="hidden">
        <div class="form-group">
            <div class="input-group col-md-6">
                <div class="input-group-prepend">
                    <div class="input-group-text">Url</div>
                </div>
                <input name="Path" placeholder="/path/to/file" class="form-control">
                <div class="input-group-append" role="group">
                    <button type="submit" class="btn btn-primary" id="host">Host</button>
                </div>
            </div>
        </div>
    </div>
</form>