@using Covenant.Models.Launchers
@model Launcher

<div class="border-top mt-4">
    <div class="form-group mt-4">
        <label for="launcher">Launcher</label>
        <div class="input-group">
            @{
                string ls = Model.LauncherString == null ? "" : Model.LauncherString.Substring(0, Math.Min(Model.LauncherString.Length, 10000));
            }
            <input id="launcher" class="form-control" value="@ls">
            <div class="input-group-append">
                <button type="button" class="btn btn-outline-primary" data-clipboard-target="#launcher">
                    <span data-feather="clipboard"></span>
                </button>
            </div>
        </div>
    </div>
</div>