@using Covenant.Models.Launchers
@model Launcher

<div class="border-top mt-4">
    <div class="form-group mt-4">
        <label for="launcher">Launcher</label>
        <div class="input-group">
            <input id="launcher" class="form-control" value="@Html.DisplayFor(model => model.LauncherString)" />
            <div class="input-group-append">
                <button type="button" class="btn btn-outline-primary" data-clipboard-target="#launcher">
                    <span data-feather="clipboard"></span>
                </button>
            </div>
        </div>
    </div>
</div>