@using Covenant.Models.Launchers
@model PowerShellLauncher

<div class="form-row">
    <div class="form-group col-md-6">
        <label asp-for="@Model.ParameterString"></label>
        <input asp-for="@Model.ParameterString" value="@Model.ParameterString" class="form-control">
    </div>
</div>