@using Covenant.Models.Grunts
@using Covenant.Models.Covenant
@using Microsoft.AspNetCore.Identity
@inject UserManager<CovenantUser> UserManager
@model IEnumerable<GruntTasking>
@{
    Layout = "_GruntTaskingLayout";
    ViewData["Title"] = "GruntTaskings";
}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
    <h1 class="h2">GruntTaskings</h1>
</div>

@{
    await Html.RenderPartialAsync("_GruntTaskingTable", Model);
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tasking-table').DataTable({
                "pageLength": 50,
                "info": false
            });
        });
    </script>
}