@using Microsoft.AspNetCore.Components.Forms
@using Covenant.Models.Launchers
@using Microsoft.JSInterop
@inject IJSRuntime IJSRuntime

<div class="form-group col-md-3">
	<label for="OutputKind">OutputKind</label><br />
	<select id="OutputKind" name="OutputKind" @bind="BinaryLauncher.OutputKind" class="selectpicker" data-width="auto">
		@foreach (var n in Enum.GetNames(typeof(Covenant.API.Models.OutputKind)))
		{
			<option value="@(((Enum)typeof(Covenant.API.Models.OutputKind).GetField(n).GetValue(null)).ToString("d"))">@n</option>
		}
	</select>
	<div class="text-danger"><ValidationMessage For="() => BinaryLauncher.OutputKind" /></div>
</div>

@code {
    [Parameter]
    public Launcher Launcher { get; set; }
    public BinaryLauncher BinaryLauncher { get; set; }

    [Parameter]
    public EventCallback<Launcher> LauncherChanged { get; set; }

    protected override void OnInitialized()
    {
        this.BinaryLauncher = (BinaryLauncher)this.Launcher;
        this.BinaryLauncher.OutputKind = (Microsoft.CodeAnalysis.OutputKind)typeof(Covenant.API.Models.OutputKind).GetField("WindowsApplication").GetValue(null);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await IJSRuntime.InvokeAsync<string>("InitializeSelectPicker", new object[] { "#OutputKind.selectpicker", ((int)Enum.Parse(typeof(Covenant.API.Models.OutputKind), BinaryLauncher.OutputKind.ToString())).ToString() });
    }
}
