@page "/launcher"
@page "/launcher/index"
@attribute [Authorize(Roles = "User, Administrator")]
@inherits OwningComponentBase<ICovenantService>

@using Covenant.Core
@using Covenant.Models.Launchers

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
    <h1 class="h2">Launchers</h1>
</div>

<LauncherTable Launchers="Launchers.ToList()" />

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownCreateLauncher" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fe fe-plus"></span>
        Create
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownCreateLauncher">
        @foreach (LauncherType t in Enum.GetValues(typeof(LauncherType)))
        {
            <a class="dropdown-item" href="/launcher/create/@((int)t)">Create @(Enum.GetName<LauncherType>(t))Launcher</a>
        }
    </div>
</div>

@code {
    [Parameter]
    public IEnumerable<Launcher> Launchers { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.Launchers = this.Launchers ?? await Service.GetLaunchers();
        this.Launchers.OrderBy(L => L.Name);
    }
}
