@using Microsoft.AspNetCore.Components.Forms
@using Covenant.Models.Launchers

<div class="form-row">
    <div class="form-group col-md-6">
        <label for="TargetName">TargetName</label>
        <input id="TargetName" name="TargetName" value="@Launcher.TargetName" class="form-control">
        <div class="text-danger"><ValidationMessage For="() => Launcher.TargetName" /></div>
    </div>
    <div class="form-group col-md-6">
        <label for="TaskName">TaskName</label>
        <input id="TaskName" name="TaskName" value="@Launcher.TaskName" class="form-control">
        <div class="text-danger"><ValidationMessage For="() => Launcher.TaskName" /></div>
    </div>
</div>

@code {
    [Parameter]
    public MSBuildLauncher Launcher { get; set; }
}
