@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components.Forms
@using Covenant.Core
@using Covenant.Models.Launchers
@using Covenant.Components.Shared
@inject IJSRuntime IJSRuntime

<div class="form-row">
    <div class="form-group col-md-3">
        <label for="ScriptLanguage">ScriptLanguage</label><br />
        <select id="ScriptLanguage" name="ScriptLanguage" @bind="@Launcher.ScriptLanguage" class="selectpicker show-menu-arrow" data-dropup-auto="false" data-width="auto">
            @foreach (var n in Enum.GetNames(typeof(ScriptingLanguage)))
            {
                <option value="@(((Enum)typeof(ScriptingLanguage).GetField(n).GetValue(null)).ToString("d"))">@n</option>
            }
        </select>
        <div class="text-danger"><ValidationMessage For="() => Launcher.ScriptLanguage" /></div>
        @*<EnumSelect id="ScriptLanguage" name="ScriptLanguage" EnumType="ScriptingLanguage" @bind-Value="Launcher.ScriptLanguage" />*@
    </div>
    <div class="form-group col-md-6">
        <label for="ProgId">ProgId</label>
        <input id="ProgId" name="ProgId" value="@Launcher.ProgId" class="form-control">
        <div class="text-danger"><ValidationMessage For="() => Launcher.ProgId" /></div>
    </div>
</div>

@code {
    [Parameter]
    public ScriptletLauncher Launcher { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await IJSRuntime.InvokeAsync<string>("InitializeSelectPicker", "#ScriptLanguage.selectpicker", ((int)Enum.Parse(typeof(ScriptingLanguage), Launcher.ScriptLanguage.ToString())).ToString());
    }
}
